<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span fxFlex="1 1 auto"></span>
    <div fxFlex="100%" style="background-color: red;" fxLayout="row" fxLayout.sm="column" fxFlexFill>
      <div style="background-color: yellow;" fxLayout="row">1</div>
      <div style="background-color: aqua;" fxLayout="row">
        <span class="title-center"><img src="assets/images/Cigars.png"></span></div>
      <div style="background-color: green;" fxLayout="row">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user
        </mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>